.git
.gitmodules
.github
__pycache__
*.py[cod]
*.log
*.tmp
*.swp
*.swo
*.DS_Store
.venv
.env
*.ipynb_checkpoints
node_modules
dist
build
.cache
.pytest_cache
ruff_cache
logs
outputs
docs
local_test
# zostawiamy pliki serwera i UI:
!server.py
!streamlit_app.py
!streamlit_app_base.py
!web/**
!src/**
!app/**   # jeżeli kiedyś się pojawi, niech nie będzie ignorowany
